.GameOver {
    font-size: 13px;
    margin-top: 9px;
    width: 83%;
}

.winningWord {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
}

@media screen and (max-width: 422px) {
    .GameOver {
        width: 78%;
    }
}